.App {
  text-align: center;
}

.navbar {
  padding: 0.2rem 1rem;
  background-color: #196478;
  overflow: hidden;
}

.nav-ul,
.nav-right {
  list-style: none;
}

.nav-ul li {
  float: left;
  padding-right: 20px;
}

.nav-right li {
  float: right;
  padding-right: 5px;
  padding-left: 30px;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: block;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #196478;
  color: #fff;
  padding: 0.6rem 0;
}

.inputBox {
  display: block;
  margin: 25px auto;
  padding: 7px;
  width: 300px;
  border: 1px solid #196478;
}

.myButton {
  width: 10rem;
  /* left: 0; */
  padding: 0.5em;
  border-radius: 5px;
  background-color: rgb(45, 156, 156);
  cursor: pointer;
  color: white;
}
.register button:hover,
.login button:hover {
  background-color: #196478;
}

.logo {
  width: 2.5rem;
  float: left;
  border-radius: 50%;
  margin-top: 8px;
}

.nav-title {
  float: left;
  margin-left: 10px;
  margin-right: 4rem;
  color: rgb(7, 164, 237);
  font-weight: bold;
  font-size: 110%;
}

.error-text {
  color: red;
  margin-top: -20px;
}
